.wrapper {
    padding: 24px 32px;

    .faq {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .header {
            padding: 24px;
            
            background-color: var(--bgPrimary);
            border-radius: 8px;
        }

    }
}